<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{pageTitle}} </title>
    <link rel="stylesheet" href="{{ relative_prefix }}/styles/css/reset.css"/>
    <link rel="stylesheet" href="{{ relative_prefix }}/styles/css/global.css"/>
    <link rel="stylesheet" href="{{ relative_prefix }}/styles/css/plays.css"/>
{% if css_include %}
<link rel="stylesheet" href="{{ css_include }}" />
{% endif %}  
</head>

  <body>
          {% block header%}{% endblock %}

    <main id="main">
    {% block content %}

      {{ content | safe }}

    {% endblock %}
    </main>


    <footer> {% include "./footer.njk" %}</footer>
    
  </body>
</html>