<div class="copyright">
    <p>This Web site is built by <a href="https://github.com/delila-oz/" target="_blank">Delila Oz</a> with <a href="https://www.11ty.dev">Eleventy</a>.</p>
    <p>Impressum | Datenschutz</p>
    <p>© Markus Weber 2024 - today</p>
</div>