---
layout: playsLayout.njk
pageTitle: Christa|Kassandra - Kapelle 99
---

<div class="item">
    <img src="/assets/images/kassandra/press kit/kassandrairgendwoas©MarkusWeber.jpg" />
  </div>

  <div class="item">
    <div class="textTile">
      <h1> {{ title }} </h1>
      <p>ein dialog nach Christa Wolf</p>
    </div>
  </div>

  <div class="item">
    <img src="/assets/images/kassandra/press kit/03_kassandra_602©MarkusWeber.jpg" />
  </div>

  <div class="item">
    <div class="textTile">
      <p> Der Krieg ist vorbei, Troja zerstört, Kassandra eine Gefangene.<br>
       Sie weiß, dass sie nur noch wenige Stunden zu leben hat. Sie ergibt sich nicht. Geht bewusst in die Erinnerung. Erlebt noch einmal, wie eine sicher geglaubte Welt in sich zusammenfällt, Gewissheiten sich auflösen, Geliebtes und Geliebte verschwinden oder sich gegen sie wenden.</p>
    </div>
  </div>

  <div class="item">
    <img src="/assets/images/kassandra/press kit/christa|kassandra_1©MarkusWeber.jpg"/>
  </div>

  <div class="item">
    <img src="/assets/images/kassandra/press kit/03_kassandra_605_©MarkusWeber.jpg" />
  </div>

  <div class="item">
    <img src="/assets/images/kassandra/press kit/kassandra_160609_©MarkusWeber.jpg" />
  </div>

  <div class="item">
    <div class="textTile">
      <p> Sie hat es so kommen sehen. Keiner sollte ihr glauben. Sie musste ja selbst erst lernen, sich zu glauben, hinzusehen, auch auf sich selbst. Dabei zeigt sich die Fähigkeit, zu sehen was ist, eben nicht als mythische Zauberkraft, sondern als bewusste Entscheidung, die Augen nicht zu verschließen.</p>
    </div>
  </div>
    <div class="item">
    <img src="/assets/images/kassandra/press kit/christa|kassandra_2©MarkusWeber.jpg" />
  </div>

  <div class="item">
    <div class="textTile">
      <p> Die aktuelle Relevanz von Kassandras Kampf – gegen den Widerstand der eigenen Ängste, gegen den Unwillen der Gesellschaft, gegen die Mauern alternativer Wahrheiten – stellt uns selbst vor die Herausforderung, unseren Ängsten entgegenzutreten und und mit offenen Augen auf uns und unsere Welt zu blicken. </p>
    </div>
  </div>
  
  <div class="item">
    <img src="/assets/images/kassandra/press kit/christa|kassandra_3©MarkusWeber.jpg" />
  </div>

  <div class="item">
    <div class="textTile">
      <p>Johanna Malchow verkörpert die Kassandra als eine Frau, die nicht die Zukunft vorhersagt, sondern uns mit unaufhörlichen Wahrheiten konfrontiert. In der Überwindung ihrer Ängste und im schonungslosen Blick auf ihr Leben deckt sie das Gefühl der Ohnmacht gegenüber ihrer Zeit auf – in einer Dringlichkeit, die sich auf das Publikum überträgt.</p>
    </div>
  </div>

  <div class="item">
    <img src="/assets/images/kassandra/press kit/kassandra_152708_©MarkusWeber.jpg"/>
  </div>

  <div class="item">
    <div class="textTile">
      <p> Markus Weber hat Christa Wolfs Erzählung als Dialog für eine Schauspielerin adaptiert. Dem Geschehen auf der Bühne stellt er Filmszenen gegenüber, die von Notizen, Vorlesungen und Tagebucheinträgen Christa Wolfs inspiriert sind. Auf diese Weise tritt Kassandra in einen Dialog mit der Autorin. Die Verbindung zwischen Bühne und Film erweitert den Spielraum und bringt Kassandras Geschichte in unsere Zeit.</p>
    </div>
  </div>

  <div class="item">
    <img src="/assets/images/kassandra/press kit/kassandra_155016_©MarkusWeber.jpg" />
  </div>
  
  <div class="item">
    <div class="textTile">
      <p>Schauspiel: Johanna Malchow<br>
        Regie: Markus Weber<br>
        Uraufführung: xx.2025, Kapelle 99 Berlin
      </p>
    </div>
  </div>