---
layout: base.njk
---
{# {% extends "base.njk" %} #}

{# Start Gallery #}
<div class="flexbox">
            <a href="/"> 
         <span class="arrow-left">   
        <img src="/assets/icons/chevrons-down.svg" alt="Springe zur Startseite">
        </span>
        </a>
  {{ content | safe }}
  
</div>
{# Ende Gallery #}

  </body>
</html>