{# {% extends "base.njk" %} #}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{title}} </title>
    <link rel="stylesheet" href="/styles/css/global.css"/>
  </head>
  <body>
    <header>
      <h1 class="hero-text"> {{ title }} </h1>
      <a href="#main" class="site-hero-scroll">
        <img src="/assets/icons/chevrons-down.svg" alt="Springe nach unten">
      </a>
    </header>
<main id="main">
{% block content %}
{% endblock %}
</main>


    <footer> {% include "./footer.njk" %}</footer>
  </body>
</html>