{% extends "base.njk" %}
{% set pageTitle = "die biografen - ein ensemble" %}
{% set headerImg = "/assets/images/hero-image01.png" %}

{% block content %}
<p>Starseitentext!</p>


{% for play in collections.play | reverse %}
<div class="layout">
  <div class="layout__item layout__item--body">
        <p>
            {{play.data.teaser}}
        </p>
        <h2><a href="{{ play.url }}"> {{play.data.title}}</a></h2>
  </div>
  <div class="layout__item layout__item--figure">
    <img src=" {{play.data.image}}">
    {# <img src="https://images.unsplash.com/photo-1516750930166-ed88ab1adb61?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=65c8f6fcafaf68f5fa434b5f076780fd&auto=format&fit=crop&w=600&q=80" alt=""> #}
  </div>
</div>
{% endfor %}

{% endblock %}