{% extends "base.njk" %}
{% set pageTitle = "die biografen - ein ensemble" %}
{% set headerImg = "/assets/images/hero-image01.png" %}


{% block header %}
<header>
  <img src="/assets/images/hero-image01.png">
  <h1 class="hero-text"> {{ pageTitle }} </h1>
  <a href="#main" class="site-hero-scroll">
    <img src="/assets/icons/chevrons-down.svg" alt="Springe nach unten">
  </a>
  </header>
{% endblock %}

{% block content %}
<div id="intro"><p>Startseitentext!</p></div> 

{% for play in collections.play | reverse %}
<div class="layout">
  <div class="layout__item layout__item--body">
        <p>
            {{play.data.teaser}}
        </p>
        <h2><a href="{{ play.url }}"> {{play.data.title}}</a></h2>
  </div>
  <div class="layout__item layout__item--figure">
    <a href="{{ play.url }}"> <img src=" {{play.data.image}}"></a>
  </div>
</div>
{% endfor %}

{% endblock %}